*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
ul, p {
    list-style-type: none;
}
body {
    font-size: 65.5%;
    position: relative;
}
svg {
    margin: -.05rem 0rem;
}
button, input, optgroup, select, textarea {
    font-family: math;
}
img {
    width: 100%;
	height: auto;
}
.row{
    width: 100%;
}
/* Option 2: Import via CSS */

.navbar-toggler:focus,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    padding: .1rem .4rem;
    background-color: white;
    font-size: 1.7rem;
}
.homePage {
    background-image: linear-gradient(to right, #000000a1 ,#00000078 , #0000002e) , url(../image/Picsart_23-08-14_21-51-51-298.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat, repeat;
    position: relative;
}

.navbar {
    background-color: #152a46;
    color: #fff;
    padding: .4rem;
    z-index: 3;
}
.navbar a {
    color: #fff;
    font-size: 1.111rem;
}
.nav-link:focus, .nav-link:hover {
    color: #a8d6f3;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: right;
    gap: 10rem;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #28558f;
}
.logo {
    width: 12rem;
}

ul.navbar-nav.mb-2.mb-lg-0 {
    gap: 2rem;
    align-items: center;
}
.navbar samp a {
    color: #fff;
    font-size: 1.11rem;
    padding: .5rem .8rem;
    border-radius: 5rem;
    background: #28558fcc;
}
.form-control {
    margin-left: .5rem;
}
.homeMain {
    position: absolute;
    top: 52%;
    left: 35%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.srcbtn{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translate(-24% ,10%);
}
.form-control {
    width: auto;
}
.qualityMain {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 8rem 0rem;
    align-items: center;
}
.qualityMain img {
    border: .2rem solid #152a46;
    border-radius: 1rem;
    width: 100%;
}
.homeMain h1 {
    font-size: 3.333rem;
    font-weight: 700;
    font-family: unset;
    margin-bottom: 1.3rem;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #2c6bb4;
}
.homeMain p {
    font-size: 1.4rem;
    font-family: 'Tiro Bangla', serif;
}
section.qualityTest {
    padding: 0rem 2rem 0rem;
}
.homeMain{
color: #fff;
}
.svg01 {
    z-index: 2;
    transform: translate(0rem, -2.6rem);
    position: relative;
}
.headingSmall{
    position: relative;
}
.qualitytext p {
    font-family: 'Tiro Bangla', serif;
    font-size: 1rem;
    margin-top: 1.3rem;
}
/* animationCard */
.animationCardMax {
    background: #0b182a;
    text-align: center;
    padding: 1rem 0rem;
}
h2.dd {
    color: #fff;
    padding: 1.2rem 0rem 2rem;
}
.animationCardImg img {
    width: 55%;
    margin: auto;
    display: flex;
}
.animationCardMain
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem 0rem;
}

.animationCardMain .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.animationCardMain .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 75px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.animationCardMain .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.animationCardMain .box:hover:before, .animationCardMain .box:hover:after {
    transform: skewX(0deg);
    left: 3.5rem;
    width: calc(100% - 90px);
}

.animationCardMain .box:nth-child(1):before,
.animationCardMain .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.animationCardMain .box:nth-child(2):before,
.animationCardMain .box:nth-child(2):after
{
  background: linear-gradient(315deg, #163799, #3a8fff)
}

.animationCardMain .box:nth-child(3):before,
.animationCardMain .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}


.animationCardMain .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.animationCardMain .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.animationCardMain .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.animationCardMain .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.animationCardMain .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.animationCardMain .box .animationCard
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.animationCardMain .box:hover .animationCard
{
  left: 10px;
  padding: 60px 40px;
}

.animationCardMain .box .animationCard h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.animationCardMain .box .animationCard p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.animationCardMain .box .animationCard a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 11px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

.animationCardMain .box .animationCard a:hover
{
  background: #152a46;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.521);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}


/* about  */
.AboutUs {
    color: #000;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: -1rem;
}
.headingSmall {
    margin-bottom: 3rem;
    padding-top: 1.5rem;
}
.AboutMain {
    text-align: start;
    width: 92%;
    margin: auto;
}
.AboutMain p span {
    font-weight: 600;
    color: #000000;
}
.AboutUs p {
    font-family: 'Tiro Bangla', serif;
    font-size: 1.16rem;
    margin-bottom: .5rem;
}

/* saveUp */
.saveUpMainLeft img{
    position: relative;
    overflow: hidden;
    transition: all .6s linear;
}
.saveUpMain1:hover img{
    transform: scale(1.1);
}
.saveUpMain2:hover img{
    transform: scale(1.1);
}
.btnPL {
    padding: .4rem .6rem;
    font-size: .8rem;
    background-color: transparent;
    color: #000;
    margin-top: .3rem;
    transition: 1s;
    border: .1rem solid #000;
}
.btnPL:hover{
    background-color: #152a46;
    color: #fff;
}
.saveUpMainRight1 h3 {
    font-size: 3.5rem;
    line-height: 5rem;
}
.saveUpMainRight p {
    font-size: .88888rem;
}
.saveUpMainLeft span {
    position: absolute;
    top: 50%;
    color: #000;
    z-index: 44;
    left: 26%;
    transform: translate(-50%,-50%);
}
.saveUpMainLeft {
    padding: 0rem;
    overflow: hidden;
}
.saveUpMainRight {
    background: #152a46;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}
.saveUpMainRight1 h4 {
    font-size: 1.2rem;
}
.saveUpMainRight2 li {
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.saveUpMainRight2 li i{
    font-size: .5rem;
}
.saveUpMainLeft h4 {
    color: #193150;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}
.saveUpMainLeft h3 {
    font-size: 2.1rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 3.5rem;
}
.saveUpMain2{
    display: flex;
    flex-direction: row-reverse;
}
.saveUpMain1 {
    justify-content: center;
    margin: 2rem auto;
}
.saveUpMain2 {
    justify-content: center;
    margin: 3rem auto;
}
.gallery {
    display: grid;
    place-items: center;
    margin-bottom: 6rem;
    font-family: 'Google Sans', sans-serif, system-ui;
}
.track-wrapper {
    width: 95%;
    overflow: hidden;
}
.track {
	--size: clamp(200px, 52vmin, 50rem);
	height: var(--size);
	width: 100%;
	display: flex;
	overflow: overlay;
	gap: var(--size-4);
	list-style-type: none;
    margin: 0;
	padding: var(--size-4) 33%;
	scroll-snap-type: x mandatory;
}
.track__item {
	height: 100%;
	aspect-ratio: 1;
	scroll-snap-align: center;
}
.gallery h2 {
    color: #000;
    margin-bottom: 2.8rem;
}
/* footer  */

.footer-section {
    background: #0e1e32;
    position: relative;
    padding-top: 4rem;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.single-cta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 22px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
    text-align: center;
    line-height: 38px;
    font-size: 1.7rem;
}
.footer-widget {
    margin-bottom: 4rem;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 38px;
    position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.col-xl-4.col-md-4.mb-30 {
    padding: 1rem 0rem;
}
.footer-cta {
    border-bottom: 1px solid #373636;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center;
}
.footer-social-icon {
    margin: 45px 0px;
}
.footer-widget ul li a {
    color: #878787;
    font-size: 1rem;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 12px 28px;
    outline: none;
    font-size: .88rem;
    background: #0b182a;
    border: 1px solid #0b182a;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    outline: none;
    font-size: 1rem;
    background: #ff5e14;
    padding: 10px 14px;
    border: .1rem solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
    background: #040f1d;
    padding: 17px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.row.align {
    align-items: center;
}
@media screen and (min-width: 1300px) {
body{
    max-width: 80%;
    margin: auto;
}
}
@media screen and (max-width: 992px) {
    ul.navbar-nav.mb-2.mb-lg-0 {
        gap: 1.2rem;
        padding: 2rem 0rem;
    }
    .saveUpMainRight1 h3 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
    .saveUpMainLeft h3 {
        line-height: 3.2rem;
    }
    .saveUpMainLeft h4 {
        font-size: 1.1rem;
        margin-bottom: 0rem;
    }
    .saveUpMainLeft span {
        left: 27%;
    }
    .saveUpMainLeft h3 {
        line-height: 3rem;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: none;
    }
    .saveUpMainRight {
        padding: 1rem;
    }
    .homeMain {
        top: 53%;
        left: 38%;
    }
    body {
        font-size: 64%;
    }
    .homeMain h1 {
        font-size: 3.1rem;
    }
    .qualityMain img {
        width: 50%;
    }
    .svg01 {
        transform: translate(0rem, -.5rem);
    }
    .qualityMain {
        flex-direction: column;
    }
    .homeMain p {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 767px) {
    .qualityMain img {
        width: 70%;
    }
    .animationCardMax {
        padding: 3rem 0rem;
    }
    .single-cta {
        justify-content: start;
    }
    .qualityMain {
        display: flex;
        gap: 3rem;
        margin: 7rem 0rem 6rem;
    }
    .saveUpMainLeft span {
        left: 56.5%;
        width: 100%;
    }
    .saveUpMainRight {
        padding:4rem 3rem;
    }
    .qualityMain {
        gap: 2rem;
    }
    .footer-section {
        padding-top: 2.5rem;
    }
    
}
@media screen and (max-width: 576px){
    .saveUpMainLeft img {
        position: relative;
        width: 120%;
    }
    .single-cta i {
        font-size: 25px;
    }
    .footer-logo img {
        max-width: 185px;
    }
    .track {
        --size: clamp(200px, 50vmin, 50rem);

    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translate(0% ,4%);
    }
    .track__item {
        height: 92%;
    }
    .saveUpMainRight2 li {
        font-size: .8rem;

    }
    .saveUpMainLeft h4 {
        font-size: .8rem;
    }
    .saveUpMainRight1 h4 {
        font-size: 1rem;
    }
    .saveUpMainRight1 h3 {
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .saveUpMainLeft h3 {
        margin-bottom: 0rem;
        font-size: 1.4rem;
    }
    .btnPL {
        padding: .2rem .5rem;
        font-size: .7677rem;
    }
    .logo {
        width: 10rem;
    }
    .saveUpMainRight {
        padding: 2.2rem;
    }
    .qualityMain img {
        width: 80%;
    }
    .homeMain {
        top: 53%;
        left: 50%;
        width: 90%;
    }
    .homePage {
        background-image: linear-gradient(to right, #00000082 ,#00000070 , #00000066) , url(../image/Picsart_23-08-14_21-51-51-298.jpg);
    }
    .homeMain h1 {
        font-size: 2.3rem;
    }
    .homeMain p {
        font-size: 1.1rem;
    }
    body {
        font-size: 63%;
    }
}
@media screen and (max-width: 431px){
    section.qualityTest {
        padding: 0rem .3rem 0rem;
    }
    .saveUpMainRight1 h3 {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }
    .saveUpMainRight1 h4 {
        font-size: .9rem;
    }
    .logo {
        width: 9rem;
    }
    .saveUpMainRight h3 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.3rem;
    }
    .saveUpMainRight {
        padding: 2rem;
    }
    .saveUpMainLeft img {
        position: relative;
        width: 145%;
    }
    .AboutMain {
        width: 96%;
    }
    .AboutUs p {
        font-size: 1rem;
        margin-bottom:.6rem;
    }
    body {
        font-size: 60%;
    }
}